<html ng-app="testApp">
  <head>
    <title>AngularJS $Http service tutorial example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  </head>
  <body ng-controller="testController">
    <h2>$http Service Tutorial</h2>

    <button ng-click="getRequest()">Test Rest</button>

  </body>
  <script>
      var testApp = angular.module("testApp", []);

testApp.controller("testController", function($scope, $http) {
  $scope.home = "This is the homepage";

  $scope.getRequest = function() {
    data={"username":'suresh',"password":'test'};
    $http.post("/registration",data).then(
      function successCallback(response) {
        $scope.response = response;
        console.log(response);
      },
      function errorCallback(response) {
        console.log("Unable to perform get request");
      }
    );
  };
});
  </script>
</html>