<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <link rel="shortcut icon" href="/static/imac-2x.png">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% include 'core.html'%}
  <script src="../static/angularjs/angularjs.js"></script>
</head>
<!-- skin-blue fixed sidebar-mini wysihtml5-supported control-sidebar-open -->
<body class="hold-transition fixed sidebar-mini {{theme[0]}}">
<div ng-app="myApp">
  <div ng-controller="mypost">
  <div class="wrapper">

    <header class="main-header">

      <!-- Logo -->
      <a href="/dashboard" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>SE</b>z</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>SurE</b>Zh</span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>


        <div class="navbar-custom-menu">
          <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <form class="navbar-form navbar-left" action="/search" method="POST" role="search">
              <div class="form-group">
                <input type="text" class="form-control" name="q" id="navbar-search-input" placeholder="Search">
              </div>
            </form>
          </div>
          <ul class="nav navbar-nav">
            <li class="dropdown messages-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                <span class="label label-success">4</span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">You have 4 messages</li>
                <li>
                  <!-- inner menu: contains the actual data -->
                  <ul class="menu">
                    <li><!-- start message -->
                      <a href="#">
                        <div class="pull-left">
                          <img src="../static/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                        </div>
                        <h4>
                          Support Team
                          <small><i class="fa fa-clock-o"></i> 5 mins</small>
                        </h4>
                        <p>Why not buy a new awesome theme?</p>
                      </a>
                    </li>
                    <!-- end message -->

                  </ul>

                </li>
              </ul>
            </li>

            <li class="dropdown messages-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-users"></i>
                <span class="label label-success">{{req_frnd_count}}</span>
              </a>{% if req_frnd_count %}
              <ul class="dropdown-menu">

                <li>
                  <!-- inner menu: contains the actual data -->
                  <ul class="menu">
                    <li><!-- start message -->
                      <a href="/profile/{{req_frnd[1]}}">
                        <div class="pull-left">
                          <img src="../static/img/uploads/Dp/{{req_frnd[8]}}" class="img-circle" alt="User Image">
                        </div>
                        <h4>{{req_frnd[1]}}
                          {{req_frnd[3]}}

                          <small><i class="fa fa-clock-o"></i> time</small>
                        </h4>
                        <p>@{{req_frnd[1]}}</p>
                      </a>
                    </li>
                    <!-- end message -->

                  </ul>
                </li>
              </ul>{% endif %}
            </li>
            <!-- Notifications: style can be found in dropdown.less -->
            <li class="dropdown notifications-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
                <span class="label label-warning">10</span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">You have 10 notifications</li>
                <li>
                  <!-- inner menu: contains the actual data -->
                  <ul class="menu">
                    <li>
                      <a href="#">
                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                        page and may cause design problems
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-users text-red"></i> 5 new members joined
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-user text-red"></i> You changed your username
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="footer"><a href="#">View all</a></li>
              </ul>
            </li>
            <!-- Tasks: style can be found in dropdown.less -->

            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="../static/img/uploads/Dp/{{my_profile[8]}}" class="user-image" alt="User Image">
                <span class="hidden-xs">{{my_profile[4]}}</span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <img src="../static/img/uploads/Dp/{{my_profile[8]}}" class="img-circle" alt="User Image">

                  <p>
                   {{my_profile[4]}}
                   <small>Member since Nov. 2012</small>
                 </p>
               </li>
               <!-- Menu Body -->
               <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/lockscreen" class="btn btn-default btn-flat">Lock</a>
                </div>
                <div class="pull-right">

                  <a href="/logout/{{my_profile[0]}}" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../static/img/uploads/Dp/{{my_profile[8]}}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{my_profile[4]}}</p>
          <a href=""><i class="fa fa-circle text-success"></i>Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="/search"  method="post" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="@example">
          <span class="input-group-btn">
            <button type="submit" id="search-btn" class="btn btn-flat" ><i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>

      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
       <li>
        <a href="/profile/{{my_profile[0]}}" ><i class="fa fa-user"></i><span>Profile</span></a>
      </li>
      <li>
        <a href="/profile_setting/{{my_profile[0]}}"><i class="fa fa-gears"></i><span>Settings and Privacy</span></a>
      </li>
      <li>
        <a  href="#" data-toggle="modal" data-target="#modal-theme"><i class="fa  fa-paint-brush"></i><span>Apperence and Theme</span></a>
      </li>
      <li>
        <a  href="/create_group/{{my_profile[0]}}" data-toggle="modal" data-target="#modal-group"><i class="fa fa-group"></i><span>Create a Group</span></a>
      </li>
      <li>
        <a href="/mail"><i class="fa fa-mail"></i><span>Inbox</span></a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
</div>
<!-- Content Wrapper. Contains page content -->
<style>
#radio1{
  display: none;
}
</style>
<div class="content-wrapper ">
  <!-- Content Header (Page header) -->
  <section class="content-header">

    <div class="row">
     <div class="col-md-6">
      <form  action="/sample" method='post' enctype="multipart/form-data"> 
        <div class="box box-primary">
          <!-- /.box-header -->
          <div class="box-body">{{my_profile[4]}} Timeline's
           <!--    {{my_profile}} -->
           <div class="form-group">
            <textarea name="content"  class="form-control" style="height: 80px"></textarea>
          </div>

          <div class="box box-solid">
            <div class="box-body">
              <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                <ul class="fc-color-picker" id="color-chooser">
                 <li><input type="radio"  name="color" value="white"><a href="#"><i class="fa fa-square" style="color:white;"></i></a></li>
                 <li><input type="radio"  name="color" value="aqua"><a href="#"><i class="fa fa-square" style="color:aqua;"></i></a></li>
                 <li><input type="radio"  name="color" value="blue"><a href="#"><i class="fa fa-square" style="color:blue;"></i></a></li>
                 <li><input type="radio" name="color" value="skyblue"><a  href="#"><i class="fa fa-square"  style="color:lightblue;"></i></a></li>
                 <li><input type="radio"  name="color" value="teal"><a  href="#"><i class="fa fa-square"  style="color:teal;"></i></a></li>
                 <li><input type="radio"  name="color" value="yellow"><a href="#"><i class="fa fa-square"  style="color:yellow;"></i></a></li>
                 <li><input type="radio"   name="color" value="orange"><a href="#"><i class="fa fa-square"  style="color:orange;"></i></a></li>
                 <li><input type="radio" name="color" value="green"><a href="#"><i class="fa fa-square"  style="color:green;"></i></a></li>
                 <li><input type="radio"  name="color" value="lime"><a href="#"><i class="fa fa-square"  style="color:lime;"></i></a></li>
                 <li><input type="radio"   name="color" value="red"><a href="#"><i class="fa fa-square"  style="color:red;"></i></a></li>
                 <li><input type="radio"  name="color" value="purple"><a href="#"><i class="fa fa-square"  style="color:purple;"></i></a></li>
                 <li><input type="radio"  name="color" value="fuchsia"><a href="#"><i class="fa fa-square"  style="color:fuchsia;"></i></a></li>
                 <li><input type="radio"  name="color" value="navy"><a href="#"><i class="fa fa-square"  style="color:navy;"></i></a></li>
                 <li><input type="radio"  name="color" value="grey"><a href="#"><i class="fa fa-square" style="color:grey;"></i></a></li>
               </ul>

             </div>
           </div>
         </div>
         <div class="form-group">
          <div class="btn btn-default btn-file">
            <i class="fa fa-paperclip"></i>  Attachement
            <input type="file" name="file" >
          </div>
          <a>use only .mp4 format for video posting</a>
          <button type="submit" class="btn btn-primary pull-right"> <i class="glyphicon glyphicon-send"></i>  Post</button>
        </div>
      </div>

    </div>
    <!-- /. box -->
  </form>
</div>
</div>
<!-- friend request view-->



{% for req_frnd in frnd_req_details %}

<div class="row">
  <div class="col-md-6 ">

    <!-- {{req_frnd}} -->
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user">
      <!-- Add the bg color to the header using any of the bg-* classes -->

      <div class="widget-user-header bg-black" style="background: url('../static/img/uploads/cover_picture/{{req_frnd[9]}}') center center;">
        <h3 class="widget-user-username">{{req_frnd[4]}}</h3>
        <h5 class="widget-user-desc">@{{req_frnd[1]}} </h5>
      </div>
      <a  href="/confirm/{{req_frnd[0]}}">
        <div class="widget-user-image">
          <img class="img-circle" src="../static/img/uploads/Dp/{{req_frnd[8]}}" alt="{{req_frnd[8]}}">
        </div>
      </a>
      <div class="box-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">{{req_frnd[6]}}</h5>
              <span class="description-text">D.O.B</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">13,000</h5>
              <span class="description-text">FOLLOWERS</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header">35</h5>
              <span class="description-text">PRODUCTS</span>

            </div>
            <!-- /.description-block -->
            <!-- {{req_frnd}} -->
          </div>
          <center><a href="/confirm_request/{{req_frnd[0]}}"><button type="submit" class="btn btn-primary">Confirm Request</button></a> 
            <a href="/ignore_request/{{req_frnd[0]}}"><button type="submit" class="btn  btn-info btn-flat">Ignore Request</button></a></center>
          </div>
          <!-- /.row -->
        </div>

      </div>
      <!-- /.widget-user -->

      <!-- </form> -->
    </div>
  </div>
  {% endfor %}

  <div class="row" >
    <div class="col-md-6" >
      <div class="box box-widget" ng-repeat="post in activities">
        <div class="box-header with-border ">
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" data-widget="collapse"><i class="fa fa-minus" ></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"><i class="fa fa-times" ></i></button>
          </div>
          <div class="user-block">
            <img class="img-circle" src="../static/img/uploads/Dp/{[post.postedUserDp]}" alt="">
            <span class="username"><a href="/profile/{[post.userId]}">{[post.postedUsername]}</a></span>
            <span class="description">Shared within friend's -{[post.postedTime]} </span>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body"  >
          <div style="background:{[post.postbg]};">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{[post.postedContent]}
            <center> <img class="img-responsive pad" width="80%" height="70%" src="../static/img/uploads/activities/{[post.postedMedia]}" alt=""></center>

<!--                       <center>
                        <video width="600" class="img-responsive pad" controls>
                      <source src="../static/img/uploads/activities/" type="video/mp4">
                      </video></center> -->
                    </div><hr>
                    &nbsp;&nbsp;&nbsp;
                    <a ng-if='post.youLiked==0' ng-click="like(post.postId,post.youLiked)"  ><i class="fa fa-heart" style="font-size:1.5em;color:grey;"></i></a>
                    <a ng-if='post.youLiked==1' ng-click="like(post.postId,post.youLiked)"  ><i class="fa fa-heart" style="font-size:1.5em;color:fuchsia;"></i></a>
                    &nbsp;
                    <a href="/view_likes/{[post.postId]}" class="pull" data-toggle="modal" data-target="#modal-likes"><span class="text-muted">{[post.likeCounts]} likes</span></a>
                    <!-- {[post.youLiked]} -->
                    <!-- <a ng-if='post.youLiked==1'>You liked this post</a> -->

                    <a href="/view_comments/{[post.postId]}" class="pull-right" data-toggle="modal" data-target="#modal-comments"><span class=" text-muted"><i class="fa fa-comments-o margin-r-5" style="font-size:1.6em"></i>{[post.commentCount]} comments</span></a>
                    &nbsp;&nbsp; 
                    <a class="" href="/delete_post/{[post.postId]}">
                      <i class="glyphicon glyphicon-remove remove" style="font-size:1.5em"></i></a>
                      <div class="box-header with-border ">
                        <form action="/post_comment/" method="post" enctype="multipart/form-data"> 
                          <!-- /.box-header -->
                          <div class="box-footer">
                            <img class="img-responsive img-circle img-sm" src="../static/img/uploads/Dp/{{my_profile[8]}}" alt="">
                            <!-- .img-push is used to add margin to elements next to floating images -->
                            <div class="img-push">
                              <input type="text" class="form-control" width="10%" name="comment" placeholder="Press enter to post comment">
                            </div>
                            <div class="btn  btn-file pull-right">
                              <i class="glyphicon glyphicon-cloud-upload"></i>
                              <input type="file"   name="attachment">
                            </div>
                            <a>use files which is only less then 4MB </a>
                          </div>
                          <!-- /. box -->
                        </form>
                      </div>
                    </div>
                    <!-- /.box-body -->
                    <hr>
                  </div>
                </div>
              </div>

              <!--  -->

              <!-- /.col -->
              <div id="hide_view">
                <div class="fixed-right">
                  <div class="box box-success">
                    <center><div class="box-header">
                      <h3 class="box-title">Online Friends</h3><hr>
                    </div></center>
                    {% if sessions %}
                    {%for frnd in sessions%}
                    <div class="box-body">
                      <a href="/profile/{{frnd[1]}}"><div class="user-block">
                        <img class="img-circle" src="../static/img/uploads/Dp/{{frnd[3]}}" alt="{{frnd[2]}}">
                        <span class="username">{{frnd[2]}}</span>
                        <span class="description">{{frnd[4]}}</span>
                      </div></a>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% if not sessions %}
                    <div class="box-body">None</div>
                    {% endif %}

                  </div>

                </div>
              </div>

              <div class="fixed-center">
                <div class="box box-success">
                  <center><div class="box-header">
                    <h3 class="box-title">Notifications</h3><hr>
                  </div></center>
                  <div class="box-body">
                    <marquee direction="up" height="510" mouseon="stop">
                     <p class="message">
                      <a href="#" class="name">
                        SURESH
                      </a><br>
                      I would like to meet you to discuss the latest news about
                      the arrival of the new theme. They say it is going to be one the
                      best themes on the market
                    </p>
                    <p class="message">
                      <a href="#" class="name">
                        RAJKUMAR
                      </a><br>
                      I would like to meet you to discuss the latest news about
                      the arrival of the new theme. They say it is going to be one the
                      best themes on the market
                    </p>
                  </marquee></div>
                </div>
              </div>

            </div>
            <!-- /.row -->
            <script>
              var app = angular.module('myApp', []);
              app.config(function($interpolateProvider) {
                $interpolateProvider.startSymbol('{[');
                $interpolateProvider.endSymbol(']}');
              });
app.controller('mypost', function($scope, $http,$timeout) {
   
  $scope.like = function(id,yourLike){
      console.log(id);
      data={"post_id":id,"yourLike":yourLike}
      $http({
        url : "/like",
        method: "POST",
        headers: { 'Content-Type': 'application/json' },
        data: JSON.stringify(data)
      }).then(function mySuccess(response) {
        $scope.likeCounts=response.data;
      }, function myError(response) {
       console.log("fails");
     });
    };
   
    $scope.getData = function(){
    $http({
      url : "/UserPosts",
    }).then(function mySuccess(response) {
      var d=response.data;
$scope.activities=d;
}, function myError(response) {
 console.log("fails");
});
  };
  
  $scope.getUserData = function(){
    $http({
      url : "/api/v1/User",
    }).then(function mySuccess(response) {
$scope.User=response.data;
console.log(response.data);

}, function myError(response) {
 console.log("ssssssssssfails");
});
  };
  $scope.intervalFunction = function(){
    $timeout(function() {
      $scope.getData();
      $scope.intervalFunction();
    }, 2000)
  };

  $scope.getUserData();
  // Kick off the interval
  $scope.getData();
  $scope.intervalFunction();

});


</script>
<div class="modal fade" id="modal-likes">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        </div>
      </div></div></div>
      <div class="modal fade" id="modal-comments">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              </div>
            </div></div></div>
            <div class="modal fade" id="modal-group">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                    </div>
                  </div></div></div>
                  <div class="modal fade" id="modal-theme">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"><i class="fa fa-paint-brush"></i>Apperence and Theme</h4>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="box box-widget">
                                  <div class="box-header with-border ">
                                    <form action="/theme" method="POST">
                                      <div class="col-md-4">
                                        <input type="radio" name="theme" value="skin-blue">
                                        <a href="javascript:void(0)" data-skin="skin-blue" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin">Blue</p></li>
                                      </div>
                                      <div class="col-md-4">
                                       <input type="radio" name="theme" value="skin-red">
                                       <a href="javascript:void(0)" data-skin="skin-red" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                        <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active">
                                        </span><span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin">Red</p>
                                      </div>
                                      <div class="col-md-4">
                                        <input type="radio" name="theme" value="skin-black">
                                        <a href="javascript:void(0)" data-skin="skin-black" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin">Black</p>
                                      </div>
                                      <div class="col-md-4">
                                        <input type="radio" name="theme" value="skin-purple">
                                        <a href="javascript:void(0)" data-skin="skin-purple" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"> <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span><span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin">Purple</p>
                                      </div><hr>
                                      <div class="col-md-4">
                                        <input type="radio" name="theme" value="skin-green">
                                        <a href="javascript:void(0)" data-skin="skin-green" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span><span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin">Green</p>
                                      </div>
                                      <div class="col-md-4">
                                        <input type="radio" name="theme" value="skin-yellow">
                                        <a href="javascript:void(0)" data-skin="skin-yellow" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span><span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin">Yellow</p>
                                      </div>
                                      <div class="col-md-4">
                                        <input type="radio" name="theme" value="skin-blue-light">
                                        <a href="javascript:void(0)" data-skin="skin-blue-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Blue Light</p>
                                      </div>
                                      <div class="col-md-4">
                                        <input type="radio" name="theme" value="skin-black-light">
                                        <a href="javascript:void(0)" data-skin="skin-black-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Black Light</p>
                                      </div><hr>
                                      <div class="col-md-4">
                                        <input type="radio" name="theme" value="skin-purple-light">
                                        <a href="javascript:void(0)" data-skin="skin-purple-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span><span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Purple Light</p>
                                      </div>
                                      <div class="col-md-4">
                                        <input type="radio" name="theme" value="skin-green-light">
                                        <a href="javascript:void(0)" data-skin="skin-green-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span><span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Green Light</p>
                                      </div>
                                      <div class="col-md-4">
                                        <input type="radio" name="theme" value="skin-red-light">
                                        <a href="javascript:void(0)" data-skin="skin-red-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span><span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Red Light</p>
                                      </div>
                                      <div class="col-md-4">
                                        <input type="radio" name="theme" value="skin-yellow-light">
                                        <a href="javascript:void(0)" data-skin="skin-yellow-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span><span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Yellow Light</p>
                                      </div>
                                      <hr>

                                      <div class="modal-footer">
                                        <button  class="btn btn-primary pull-right"> <i class=" glyphicon glyphicon-floppy-disk"></i>
                                        change</button>
                                      </div>
                                    </form>


                                  </div></div>
                                </div></div>
                              </div>


                              <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                          </div></div>
                          <!-- /.modal -->



                        </section>
                        <!-- /.content -->











                      </div>
                      <!-- /.content-wrapper -->
                      <footer class="main-footer">
                        <div class="pull-right hidden-xs">
                          <b>Version</b> 1.0
                        </div>
                        <strong>Copyright &copy; 2017-2018 <a href="#">Suresh</a>.</strong> All rights
                        reserved.
                      </footer>

                      <!-- Control Sidebar -->
                      <aside class="control-sidebar control-sidebar-dark">
                        <!-- Create the tabs -->
                        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                          <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-users"></i></a></li>
                          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                          <!-- Home tab content -->
                          <div class="tab-pane" id="control-sidebar-home-tab">
                            <h3 class="control-sidebar-heading">Recent Activity</h3>
                            <ul class="control-sidebar-menu">

                              <li>
                                <a href="#">
                                  <i class="menu-icon fa fa-user bg-yellow"></i>

                                  <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Profile</h4>
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0)">
                                  <i class="menu-icon fa fa-user bg-yellow"></i>

                                  <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Profile</h4>
                                  </div>
                                </a>
                              </li>

                            </ul>
                            <!-- /.control-sidebar-menu -->

                          </div>
                          <!-- /.tab-pane -->
                          <!-- Stats tab content -->
                          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                          <!-- /.tab-pane -->
                          <!-- Settings tab content -->
                          <div class="tab-pane" id="control-sidebar-settings-tab">
                            <form method="post">
                             <h3 class="control-sidebar-heading">instance theme changer</h3>
                             <ul class="control-sidebar-menu">

                              <li>

                                <a href="javascript:void(0)">
                                  <i class="menu-icon fa fa-user bg-yellow"></i>

                                  <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Profile</h4>
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a href="javascript:void(0)">
                                  <i class="menu-icon fa fa-user bg-yellow"></i>

                                  <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Profile</h4>
                                  </div>
                                </a>
                              </li>

                            </ul>
                            <!-- /.tab-pane -->
                          </div>
                        </aside>
                        <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
   immediately after the control sidebar -->
   <div class="control-sidebar-bg"></div>
 </div>
 <!-- ./wrapper -->
 <style>

 @media screen and (max-width: 1000px) {
  #hide_view {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
.like{
  color:grey;
}
.like:hover{
  color:blue;
}
.love{
  color:grey;
}
.love:hover{
  color:fuchsia;
}
.remove{
  color:grey;
}
.remove:hover{
  color:red;
}

.fixed-right {
  position: fixed;
  top: 50px;
  left: 1105px; 
  right:-6px;
  bottom: 0px;
  width: 250px;
  background-color: white;
  overflow-y: scroll;
}
.fixed-center {
  position: fixed;
  top: 50px;
  left: 790px;
  bottom: 0px;
  width: 315px;
  background-color:  white;
  overflow-y: scroll;
}
</style>
</form>

</div></div></aside>
</div></div>
</body>
</html>
