<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <link rel="shortcut icon" href="/static/imac-2x.png">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
{% include 'core.html'%}

</head>
{% if s == 1 %}
<div class="box box-primary">
<div class="row">
   <div class="col-md-12">
<!--   {{liked_list}} -->
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
 <div class="box-body">
 	           <div class="user-block">
			<img class="img-circle img-bordered-sm" src="../static/img/uploads/Dp/{{posted_user[8]}}" >
   			<span class="username"><a href="/profile/{{posted_user[0]}}">{{posted_user[4]}}</a></span>
   			<span class="description">Shared within friend's</span>
            </div><hr>{{post[2]}}
              <center>
            {% if ".mp4" not in post[3]%}
              {% if(post[3]!="0")%}
              <center><img class="img-responsive pad" width="60%" height="30%" src="../static/img/uploads/activities/{{post[3]}}" alt="{{post[3]}}"></center>
              {% endif %}
              {% endif %}
              {% if ".mp4" in post[3]%}
                        <video width="600" class="img-responsive pad" controls>
                      <source src="../static/img/uploads/activities/{{post[3]}}" type="video/mp4">
                    </video>
              {% endif %}<hr></center>
    	<div class="post">
{% for x in liked_list %}
           <div class="user-block">
			<img class="img-circle img-bordered-sm" src="../static/img/uploads/Dp/{{x[1]}}" alt="{{x[2]}}">
   			<span class="username"><a href="/profile/{{x[0]}}">{{x[2]}}</a></span>
   			   <span class="username">Liked {{x[3]}}  times</span>
            </div>
<hr>
{% endfor %}
        </div>
</div>
</div>

{%endif%}
</div>
</div>










{% if s == 0 %}
<div class="box box-primary">
<div class="row">
 <div class="col-md-12">

<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
 <div class="box-body">
 	           <div class="user-block">
			<img class="img-circle img-bordered-sm" src="../static/img/uploads/Dp/{{posted_user[8]}}" >
   			<span class="username"><a href="/profile/{{posted_user[0]}}">{{posted_user[4]}}</a></span>
   			<span class="description">Shared within friend's</span>
            </div><hr>{{post[2]}}
              <center>{% if ".mp4" not in post[3]%}
              {% if(post[3]!="0")%}
              <center><img class="img-responsive pad" width="60%" height="30%" src="../static/img/uploads/activities/{{post[3]}}" alt="{{post[3]}}"></center>
              {% endif %}
              {% endif %}
              {% if ".mp4" in post[3]%}
                        <video width="600" class="img-responsive pad" controls>
                      <source src="../static/img/uploads/activities/{{post[3]}}" type="video/mp4">
                    </video>
              {% endif %}<hr></center>
    	<div class="post">

{% for x in commented_list%}
           <div class="user-block">
			<img class="img-circle img-bordered-sm" src="../static/img/uploads/Dp/{{x[1]}}" alt="{{x[1]}}">
   			<span class="username"><a href="/profile/{{x[0]}}">{{x[2]}}</a></span> 
      {{x[5]}} </div>
   			                  <div class="direct-chat-msg">
                  <div class="direct-chat-text"> {{x[3]}} 
 <center>{% if ".mp4" not in x[4]%}
              {% if(x[4]!="0")%}
              <center><img class="img-responsive pad" width="70%" height="50%" src="../static/img/uploads/activities/{{x[4]}}" alt="{{x[4]}}"></center>
              {% endif %}
              {% endif %}
              {% if ".mp4" in x[4]%}
                        <video width="600" class="img-responsive pad" controls>
                      <source src="../static/img/uploads/activities/{{x[4]}}"   type="video/mp4">
                    </video>
              {% endif %}</center></div>
                </div>
           
{% endfor %}
        </div></div>
</div>
{%endif%}
</div>
</div>

</html>