<!DOCTYPE html>
<style>
.fixed-right {
  position: fixed;
  top: 50px;
  left: 1105px; 
  right:-6px;
  bottom: 0px;
  width: 250px;
  background-color: white;
  overflow-y: scroll;
} 
.fixed-right-first {
  position: fixed;
  top: 50px;
  left: 790px;
  bottom: 0px;
  width: 315px;
  background-color:  white;
  overflow-y: scroll;
}
</style>
{% include 'header.html'%}
  <script src="../static/angularjs/angularjs.js"></script>
  <input type="hidden" value="{{userId}}" ng-model="id" id="id">
      <div class="row">
     <div class="col-md-6">
      <form  action="/sample" method='post' enctype="multipart/form-data"> 
        <div class="box box-primary">
          <!-- /.box-header -->
          <div class="box-body">Timeline's
           <!--    {{my_profile}} -->
           <div class="form-group">
            <textarea name="content"  class="form-control" style="height: 80px"></textarea>
          </div>

         <div class="form-group">
          <div class="btn btn-default btn-file">
            <i class="fa fa-paperclip"></i>  Attachement
            <input type="file" name="attachment" >
          </div>
          <a>use only .mp4 format for video posting</a>
            <input type="color" name="color" value="#ffffff">
          <button type="submit" class="btn btn-primary pull-right"> <i class="glyphicon glyphicon-send"></i>  Post</button>
        </div>
      </div>

    </div>
    <!-- /. box -->
  </form>
</div>
</div>
  <div class="row" >
    <div class="col-md-6" >
      <div class="box box-widget" ng-repeat="post in activities">
        <div class="box-header with-border ">
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" data-widget="collapse"><i class="fa fa-minus" ></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"><i class="fa fa-times" ></i></button>
          </div>
          <div class="user-block">
            <img class="img-circle" src="../static/img/uploads/Dp/{[post.postedUserDp]}" alt="">
            <span class="username"><a href="/profile/{[post.userId]}">{[post.postedUsername]}</a></span>
            <span class="description">Shared within friend's -{[post.postedTime]} </span>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body"  >
          <div style="background:{[post.postbg]};">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{[post.postedContent]}
            <center> <img class="img-responsive pad" width="80%" height="70%" src="../static/img/uploads/activities/{[post.postedMedia]}" alt=""></center>

                      <!-- <center ng-if='.mp4'>
                        <video width="600" class="img-responsive pad" controls>
                      <source src="../static/img/uploads/activities/" type="video/mp4">
                      </video></center> -->
                    </div><hr>
                    &nbsp;&nbsp;&nbsp;
                    <a ng-if='post.youLiked==0' ng-click="like(post.postId,post.youLiked)"  ><i class="fa fa-heart" style="font-size:1.5em;color:grey;"></i></a>
                    <a ng-if='post.youLiked==1' ng-click="like(post.postId,post.youLiked)"  ><i class="fa fa-heart" style="font-size:1.5em;color:fuchsia;"></i></a>
                    &nbsp;
                    <a href="/view_likes/{[post.postId]}" class="pull" data-toggle="modal" data-target="#modal-likes"><span class="text-muted">{[post.likeCounts]} likes</span></a>
                    <!-- {[post.youLiked]} -->
                    <!-- <a ng-if='post.youLiked==1'>You liked this post</a> -->

                    <a href="/view_comments/{[post.postId]}" class="pull-right" data-toggle="modal" data-target="#modal-comments"><span class=" text-muted"><i class="fa fa-comments-o margin-r-5" style="font-size:1.6em"></i>{[post.commentCount]} comments</span></a>
                    &nbsp;&nbsp; 
                    <a class="" href="/delete_post/{[post.postId]}" ng-if='post.userId==User.UserId'>
                      <i class="glyphicon glyphicon-remove remove" style="font-size:1.5em"></i></a>
                      <div class="box-header with-border ">
                        <form action="/post_comment/" method="post" enctype="multipart/form-data"> 
                          <!-- /.box-header -->
                          <div class="box-footer">
                            <img class="img-responsive img-circle img-sm" src="../static/img/uploads/Dp/{{my_profile[8]}}" alt="">
                            <!-- .img-push is used to add margin to elements next to floating images -->
                            <div class="img-push">
                              <input type="text" class="form-control" width="10%" name="comment" placeholder="Press enter to post comment">
                            </div>
                            <div class="btn  btn-file pull-right">
                              <i class="glyphicon glyphicon-cloud-upload"></i>
                              <input type="file"   name="attachment">
                            </div>
                            <a>use files which is only less then 4MB </a>
                          </div>
                          <!-- /. box -->
                        </form>
                      </div>
                    </div>
                    <!-- /.box-body -->
                    <hr>
                  </div>
                </div>
               <div class="fixed-right-first">

              </div>
                <div class="fixed-right">
                  
               <div class="box box-success">
                    <center><div class="box-header">
                      <h3 class="box-title">Online Friends</h3><hr>
                    </div></center>
                    <div class="box-body" ng-repeat="friend in OnlineFriends">
                      <a href="/profile/{[friend.UserId]}"><div class="user-block">
                        <img class="img-circle" src="../static/img/uploads/Dp/{[friend.Dp]}" alt="">
                        <span class="username">{[friend.Name]}</span>
                        <span class="description">{[friend.Time]}</span>
                      </div></a>
                    </div>
                  </div>
              </div>
              </div>




<div class="row">
        <div class="col-md-3">
          <!-- DIRECT CHAT PRIMARY -->
          <div class="box box-primary direct-chat direct-chat-primary collapsed-box">
            <div class="box-header with-border">
              <h3 class="box-title">Direct Chat</h3>

              <div class="box-tools pull-right">
                <span data-toggle="tooltip" title="3 New Messages" class="badge bg-light-blue">3</span>
                <button type="button" class="btn btn-box-tool" data-widget="collapse" ng-click='RetriveMessages(4647)'><i class="fa fa-plus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                  <i class="fa fa-comments"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- Conversations are loaded here -->
              <div class="direct-chat-messages">
                <!-- Message. Default to the left -->
                <div ng-repeat="con in Coversations">
                <div class="direct-chat-msg" ng-if='con.SenderId!=User.UserId' >
                  <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-left">{[con.UserName]}</span>
                    <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                  </div>
                  <!-- /.direct-chat-info -->
                  <img class="direct-chat-img" src="../static/img/uploads/Dp/{[con.Dp]}" alt="Message User Image"><!-- /.direct-chat-img -->
                  <div class="direct-chat-text">
                    {[con.message]}
                  </div>
                  <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->

                <!-- Message to the right -->
                <div class="direct-chat-msg right" ng-if='con.SenderId==User.UserId'>
                  <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-right">{[con.UserName]}</span>
                    <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
                  </div>
                  <!-- /.direct-chat-info -->
                  <img class="direct-chat-img" src="../static/img/uploads/Dp/{[con.Dp]}" alt="Message User Image"><!-- /.direct-chat-img -->
                  <div class="direct-chat-text">
                    {[con.message]}
                  </div>
                  <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
              </div>
            </div>
              <!--/.direct-chat-messages-->

              <!-- Contacts are loaded here -->
              <div class="direct-chat-contacts">
                <ul class="contacts-list">
                  <li>
                    <a href="#">
                      <img class="contacts-list-img" src="../dist/img/user1-128x128.jpg" alt="User Image">

                      <div class="contacts-list-info">
                            <span class="contacts-list-name">
                              Count Dracula
                              <small class="contacts-list-date pull-right">2/28/2015</small>
                            </span>
                        <span class="contacts-list-msg">How have you been? I was...</span>
                      </div>
                      <!-- /.contacts-list-info -->
                    </a>
                  </li>
                  <!-- End Contact Item -->
                </ul>
                <!-- /.contatcts-list -->
              </div>
              <!-- /.direct-chat-pane -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <form ng-submit="SendMessage('4647')">
                <div class="input-group">
                  <input type="text" name="message" ng-model="Message" placeholder="Type Message ..." class="form-control">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat">Send</button>
                      </span>
                </div>
              </form>
            </div>
            <!-- /.box-footer-->
          </div>
          <!--/.direct-chat -->
        </div>
        <!-- /.col -->
    </div>
            <script>
              var app = angular.module('myApp', []);
              app.config(function($interpolateProvider) {
                $interpolateProvider.startSymbol('{[');
                $interpolateProvider.endSymbol(']}');
              });
app.controller('mypost', function($scope, $http,$timeout) {
  $scope.userId=id.value;
    $scope.like = function(post_id,yourLike){
      console.log(post_id);
      data={"post_id":post_id,"yourLike":yourLike,'userId':$scope.userId};
    //   $http({
    //     url : "/like",
    //     method: "POST",
    //     headers: { 'Content-Type': 'application/json' },
    //     data: JSON.stringify(data)
    //   }).then(function mySuccess(response) {
    //     $scope.likeCounts=response.data;
    //     console.log(response);
    //     console.log("mySuccess");

    //   }, function myError(response) {
    //    console.log("fails");
    //  });
     var config = {
              headers : { 'Content-Type': 'application/json' },
                };
      $http.post('/api/v1/like',JSON.stringify(data), config).then(function succ(response){$scope.likeCounts=response.data; console.log(response);});
 
    };
    
    $scope.RetriveMessages= function(threadid){
      data={"ThreadId":threadid}
      var config = {
              headers : { 'Content-Type': 'application/json' },
                };
      $http.post('/api/v1/SendMessage',JSON.stringify(data), config).then(function succ(response){$scope.Coversations=response.data;});
      };
    $scope.SendMessage= function(threadid){
      data={"ThreadId":threadid,"message":$scope.Message}
      $scope.Message="";
      var config = {
              headers : { 'Content-Type': 'application/json' },
                };
      $http.post('/api/v1/SendMessage',JSON.stringify(data), config).then(function succ(response){$scope.Coversations=response.data;});
      };
    $scope.getUserPosts = function(){
      var config = {
      params: {'userId':$scope.userId},
      headers : {'Accept' : 'application/json'}
      };
    $http.get('/api/v1/UserPosts', config).then(function succ(response){$scope.activities=response.data.data;});
    };
   
  $scope.getonlinefriends= function(){
      var config = {
      params: {'userId':$scope.userId},
      headers : {'Accept' : 'application/json'}
      };
    $http.get('/api/v1/OnlineFriends', config).then(function succ(response){ $scope.OnlineFriends=response.data;});
   };
  $scope.getUserData = function(){
    var config = {
          params: {'userId':$scope.userId},
          headers : {'Accept' : 'application/json'}
          };
        $http.get('/api/v1/User', config).then(function succ(response){ $scope.User=response.data;});
      };
  $scope.intervalFunction = function(){
    $timeout(function() {
      $scope.getUserPosts();
      // $scope.getonlinefriends();
      $scope.intervalFunction();
      $scope.getUserPosts();
      // $scope.RetriveMessages(4647);
    }, 1000)
    
  };

  // Kick off the interval
  $scope.getUserPosts();
  $scope.getUserData();
  $scope.getonlinefriends();
  $scope.intervalFunction();

});


</script>


























{% include 'footer.html'%}